.callme {
  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
  }

  @media (min-width: 768px) {
    margin-block: 3rem;
  }

  padding: 1rem var(--page-padding-inline);

  & > div:first-child {
    margin-bottom: 1rem;
  }

  .btns {
    display: flex;
    gap: 0.6rem;

    a {
      font-size: 1.5rem;

      &:first-child {
        flex: 1;

        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }

      &:last-child {
        border-end-start-radius: 0;
        border-start-start-radius: 0;
      }
    }
  }
}
