.header {
  position: sticky;
  top: 0;

  padding-inline: var(--page-padding-inline);
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-inline: 0.5rem;

        a {
          color: inherit;
          text-decoration: none;

          font-weight: 600;

          padding: 0.5rem 1rem;
          border-radius: 8px;

          transition: 0.2s ease-in-out;

          &:hover {
            background: rgba(var(--primary), 0.2);
            color: rgb(var(--primary));
          }
        }
      }
    }
  }
}
