.header {
  position: sticky;
  top: 0;

  z-index: 1000;
  background: white;

  padding-inline: var(--page-padding-inline);
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      background: rgba(var(--primary));
      border-radius: 50%;
      animation: shadow 1s infinite ease-in-out;
    }

    @keyframes shadow {
      0% {
        box-shadow: 0 0 0 0 rgba(var(--primary), 0.8);
      }
      100% {
        box-shadow: 0 0 0 5px rgba(var(--primary), 0);
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      position: absolute;
      opacity: 0;
    }
  }

  nav {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-inline: 0.5rem;
      }
    }
  }
}
