.header {
  position: sticky;
  top: 0;

  z-index: 1000;
  background: white;

  padding-inline: var(--page-padding-inline);
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  & > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @media (max-width: 768px) {
    justify-content: center;

    nav {
      position: absolute;
      opacity: 0;
    }
  }

  nav {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-inline: 0.5rem;
      }
    }
  }
}
