.hero {
  padding: 5rem var(--page-padding-inline);

  height: calc(80dvh - var(--header-height));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  .content {
    @media (min-width: 768px) {
      flex: 1;
    }

    h1 {
      font-size: 3rem;
      line-height: 1em;
      margin-bottom: 1rem;
    }

    @media (max-width: 900px) {
      text-align: center;

      & > div {
        display: none !important;
      }
    }

    div {
      margin-top: 1rem;

      display: flex;
    }
  }

  .thumbnail {
    min-width: min(300px, 100%);

    display: grid;
    place-content: center;
  }
}
