.link {
  color: inherit;
  text-decoration: none;

  font-weight: 600;

  padding: 0.5rem 1rem;
  border-radius: 8px;

  transition: 0.2s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &.button {
    color: white;
    background-color: rgb(var(--primary));
  }

  &:hover,
  &.active {
    background: rgba(var(--primary), 0.2);
    color: rgb(var(--primary));
  }
}
